@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-text: #8D8D8D;
    --number-text: #8D8D8D;
    --hover-nav-text: black;
    --icon-nav: rgb(140, 158, 138);
    --hover-icon-nav: rgb(117, 137, 116);
    --navicon-burger-menu: black;
    --nav-burger-menu-fill: #ece8e6;
    --main-text: #2F3133;
    --hero-main-text-letter: #8C9E8A;
    --hero-description-text: #707070;
    --hero-description-text-link: #8C9E8A;
    --offers-description-text: #707070;
    --offers-details-text: #8D8D8D;
    --offers-item-text: #707070;
    --offers-item-dash: #8C9E8A;
    --best-selling-main-text-two-words: #8C9E8A;
    --best-selling-subtitle-text: #8C9E8A;
    --best-selling-background-advertisement: #464c5c;
    --best-selling-advertisement-text: #fff;
    --best-selling-title-products: #2F3133;
    --best-selling-price: #8C9E8A;
    --best-selling-background-button: #8C9E8A;
    --best-selling-button-text: #fff;
    --best-selling-slick-arrow: #2f3133;
    --about-fhome-pride-text: #707070;
    --about-fhome-description-text: #8D8D8D;
    --about-fhome-catalogue-description-text: #707070;
    --about-fhome-background-button: #917962;
    --about-fhome-background-button-hover: #8C9E8A;
    --about-fhome-background-button-catalogue: #8C9E8A;
    --about-fhome-background-button-border-catalogue: #8C9E8A;
    --about-fhome-button-text-catalogue: #8C9E8A;
    --about-fhome-button-image-catalogue: #8C9E8A;
    --about-fhome-button-text-catalogue-hover: #fff;
    --about-fhome-button-text: #fff;
    --about-fhome-main-catalogue-text: #2F3133;
    --turnkey-furnishing-subtitle-text: #707070;
    --turnkey-furnishing-background: #f7f4f0;
    --turnkey-furnishing-background-project: #fff;
    --turnkey-furnishing-main-project-text: #2F3133;
    --turnkey-furnishing-description-project-text: #8D8D8D;
    --turnkey-furnishing-item-text: #707070;
    --turnkey-furnishing-button-text: #fff;
    --turnkey-furnishing-button-background: #917962;
    --turnkey-furnishing-background-button-hover: #8C9E8A;
    --sherpa-armchair-price-text: #8C9E8A;
    --sherpa-armchair-description-text: #707070;
    --sherpa-armchair-category-text: #2F3133;
    --sherpa-armchair-button-background: #917962;
    --sherpa-armchair-number-text: #2F3133;
    --sherpa-armchair-button-text: #2F3133;
    --innovations-description-text: #707070;
    --innovations-main-image-text: #FFFFFF;
    --innovations-description-image-text: #FFFFFFDE;
    --innovations-cta-link-text: #8C9E8A;
    --innovations-border-cta-heading-text: rgba(47, 49, 51, 0.3);
    --innovations-cta-description-text: #8D8D8D;
    --innovations-cta-action-link-text: #8C9E8A;
    --benefits-number-text: #707070;
    --benefits-description-text: #707070;
    --benefits-item-main-text: #2F3133;
    --benefits-item-description-text: #8D8D8D;
    --benefits-background: #e5e9e2;
}

header {
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 0%;
}

body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-family: "Archivo", sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.overflow-hidden {
    overflow: hidden;
}