.best-selling {
    padding: 30px 0 50px;
}

.best-selling__container {
    padding: 0 24px;
}

.best-selling__title-text {
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: normal;
    text-align: center;
    color: var(--best-selling-main-text);
}

.best-selling__title-highlight {
    color: var(--best-selling-main-text-two-words);
}

.best-selling__subtitle {
    margin-top: 50px;
}

.best-selling__subtitle-link {
    text-decoration: none;
}

.best-selling__subtitle-text {
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.2px;
    text-align: center;
    color: var(--best-selling-subtitle-text);
    text-transform: uppercase;
}

.best-selling__product {
    padding: 0 15px;
    margin-top: 45px;
}

.best-selling__badge {
    position: relative;


}

.best-selling__badge-text {
    position: absolute;
    top: 8px;
    left: 4px;
    color: var(--best-selling-advertisement-text);
    background-color: var(--best-selling-background-advertisement);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.best-selling__badge-highlight-new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46.5px;
    height: 28px;
}

.best-selling__badge-highlight-limited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 28px;
}

.best-selling__badge-highlight-bestseller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 28px;
}

.best-selling__name {
    margin-top: 8px;
}

.best-selling__link {
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    line-height: 26.5px;
    letter-spacing: normal;
    cursor: pointer;
    color: var(--best-selling-title-products);
    text-align: left;
}

.best-selling__price {
    margin-top: 16px;
}

.best-selling__price-highlight {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: var(--best-selling-price);
}

.best-selling__action {
    margin-top: 24px;
}

.best-selling__action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--best-selling-button-text);
    background-color: var(--best-selling-background-button);
    width: 125px;
    height: 46px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
}

.slick-arrow {
    position: absolute;
    top: 30vh;
    z-index: 1;
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background: transparent;
    border: 0;
    transition: all 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);

}

.slick-prev {
    left: -7px;
}

.slick-prev:after {
    border-left: 3.2px solid var(--best-selling-slick-arrow);
    border-bottom: 3.2px solid var(--best-selling-slick-arrow);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.slick-next {
    right: -10px;
}

.slick-next:after {
    border-right: 3.2px solid var(--best-selling-slick-arrow);
    border-top: 3.2px solid var(--best-selling-slick-arrow);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
}

@media (min-width: 768px) {
    .best-selling {
        padding: 30px 0 60px;
    }

    .best-selling__container {
        padding: 0 32px;
    }

    .best-selling__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .best-selling__title {
        min-width: 50%;
    }

    .best-selling__title-text {
        font-size: 33px;
        line-height: 43px;
        text-align: left;
    }

    .best-selling__subtitle {
        min-width: 50%;
        margin: 0;
    }

    .best-selling__subtitle-text {
        text-align: right;
    }

    .slick-arrow {
        top: 40vh;
    }
    
    .slick-prev {
        left: -10px;
    }
    
    .slick-next {
        right: -13px;
    }
}

@media (min-width: 990px) {
    .best-selling__container {
        padding: 0 40px;
    }

    .best-selling__title-text {
        font-size: 36px;

    }

    .best-selling__product {
        margin-top: 50px;
        line-height: 47px;
    }

    .best-selling__name {
        margin-top: 13px;
    }

    .best-selling__price {
        margin-top: -5px;
    }

    .best-selling__action {
        margin-top: 14px;
    }

    .slick-arrow {
        top: 35vh;
    }
    
    .slick-prev {
        left: -16px;
    }
    
    .slick-next {
        right: -19px;
    }
}

@media (min-width:1280px) {
    .best-selling__container {
        padding: 0 15px;
    }

    .slick-arrow {
        top: 41vh;
    }
    
    .slick-prev {
        left: -19px;
    }
    
    .slick-next {
        right: -21px;
    }
} 