.header-hero {
    padding: 30px 0 180px;
}

.header-hero__container {
    padding: 0 24px;
    margin:0 -15px;
}

.header-hero__content {
    margin: 50px 0 0;
    padding: 0 15px;
    height:640px;
}

.header-hero__number {
    font-size: 11px;
    color: var(--hero-number-text);
    font-weight: 700;
    letter-spacing: 2.2px;
    line-height: 18px;
    text-align:center;
}

.header-hero__title-block {
    margin-top:20px;
}

.header-hero__title {
    font-size:48px;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: normal;
    text-align: center;
    color:var( --hero-main-text);

    .header-hero__title-span-letter {
        color:var(--hero-main-text-letter);
    }
}

.header-hero__description-block {
    margin-top:35px;
}

.header-hero__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: normal;
    text-align: center;
    color:var(--hero-description-text);

    .header-hero__link {
        color:var(--hero-description-text-link);
    }
}

